# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Environment / secrets
.env
.env.local
.env.*.local

# Supabase
supabase/.branches
supabase/.temp

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# Build
*.tsbuildinfo
